<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.dao.ArticleMapper">
    <select id="selectArticle" resultMap="articleWithComment">
        select a.*,c.id c_id,c.content c_content,c.author c_author,c.a_id
        from t_article a ,t_comment c
        where a.id=c.a_id and a.id = #{id};
    </select>
    <select id="selectArticles" resultMap="articleWithComment">
        select a.*,c.id c_id,c.content c_content,c.author c_author,c.a_id
        from t_article a,t_comment c
        where a.id=c.a_id and a.id in
       <!--foreach,重点-->
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <!--    resultMap id对应select中的resultMap，type对应返回的类型，一般比较复杂，需要指定对应关系-->
    <resultMap id="articleWithComment" type="com.example.pojo.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <collection property="commentList" ofType="com.example.pojo.Comment">
            <id property="id" column="c_id"></id>
            <result property="content" column="c_content"></result>
            <result property="author" column="c_content"></result>
            <result property="aId" column="a_id"></result>
        </collection>
    </resultMap>


</mapper>